Library
Temp
Builds
Lightmap*
ReflectionProbe*
LightingData*
*.csproj
/.vs/7dfps/v15
/obj/Debug
/vnclib.csproj
/vnclib-scripts.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/7dfps.sln
/Assets/Scenes/SampleScene/ReflectionProbe-0.exr.meta
/Assets/Scenes/SampleScene/ReflectionProbe-0.exr
/Assets/Scenes/SampleScene/Lightmap-0_comp_shadowmask.png.meta
/Assets/Scenes/SampleScene/Lightmap-0_comp_shadowmask.png
/Assets/Scenes/SampleScene/Lightmap-0_comp_light.exr.meta
/Assets/Scenes/SampleScene/Lightmap-0_comp_light.exr
/Assets/Scenes/SampleScene/Lightmap-0_comp_dir.png.meta
/Assets/Scenes/SampleScene/Lightmap-0_comp_dir.png
/Assets/Scenes/SampleScene/LightingData.asset.meta
/Assets/Scenes/SampleScene/LightingData.asset
/Assets/TextMesh Pro
